body {
    background-color: rgba(215, 224, 246, 0.105);
    font-family:  'Courier New', monospace;
    color: darkgreen;
}

nav {
    color: black;
}
main {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 h1 {
    font-family: 'Brush Script MT', cursive;
    color: gray
};
 

.green 
{
color: green;
}


.bolder {
    color:yellowgreen;
    font-style: italic;
}
footer {
    color: blue
 }
H2 {
    Color: #F09B59

}