body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.form-row, .check-row {  
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.spacer {
    width: 150px;
    text-align: right;
}

legend {
    padding: 10px;
    background-color:red;
    color: white;
}

input:not([type='submit']), select, textarea {
    padding: 10px;
    font-size: 14px;  
    border-radius: 3px;
    background-color: rgb(224, 205, 25);
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    background-color: white;
}

input[type='submit'] {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgb(200, 200, 200);
}
.spacer{
    width: 150px;
}

@media only screen and (max-width: 600px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .spacer {
        text-align: left;
    }
}
