body{
    font-family: Arial, Helvetica, sans-serif;

}
.Container {
    display: flex;
    /*flex-direction:row ;
    flex-wrap: wrap*/;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;

    
}
.item {
    background-color: rgb(124, 124, 212);
    padding: 10px 5px;
    width: 200px;
    border: 50px;
}

img{
    width: 100px;
}