body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
   
nav {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    
nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 10px;
        
       
    }
    
nav ul li a {
        color: white;
        text-decoration: none;
    }

.container{
    margin: 20px;
}
.boarder{
    margin: 5px auto;
    width: 100%;
    border: thick solid black;
    border-spacing: 0;
    caption-side: bottom;
}


.boarder td, .boarder.th{
    border: thin solid black;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background: lawngreen
}
.boarder thead{
    background-color: brown;
}
.boarder tfoot{
    color: white;
}

.container{
    display: flex;
    gap: 20px;
    

}
main{
    width: 80%;
}
.aside {
width: 20%;

}