body {
    /*background-image: url("A.jpg");*/
    font-size: medium;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: white;
}

header h1 {
    margin: 0;
}
.card figure{
    margin: 0;
}

.card img{
    width: 100;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: warp;
}

nav {
    background-color: rgb(150, 97, 229);
    display: flex; /* Change from none to flex */
    justify-content: space-around;
    
    
}

nav a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
        /*background-color: #222;*/
        nav{
            flex-direction: column;
        
            
        }
        nav a{
            border-bottom: thin solid #fff;
        }
        .card{
            width: 100%;
            margin: 10px;
        }

    }
       
 
