/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: larger;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: white;
    color: chocolate;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  header h2 {
    color: rgb(125, 43, 226);
  }
  
  /* Navigation Bar */
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(165, 42, 56);
  }
  
  nav .btn {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(165, 42, 56);
    border: 1px solid white;
    transition: background-color 0.3s ease-in-out;
  }
  
  nav .btn:hover {
    background-color: rgb(144, 189, 238);
  }

/* Form Styles */
.position {
    max-width: 100%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
::placeholder{
    color: white;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

legend {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.form-row, .check-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input:not([type='submit']), select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    background-color: white;
    border-color: blue;
}

input[type='submit'] {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type='submit']:hover {
    background-color: darkblue;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
caption{
    text-align: center;
}
p{
    text-align: center;
    padding: 5PX;
}

/* Responsive Design */
@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    position{
        flex-direction: column;
    }
    footer{
    text-align: center;
    }

}


