body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: larger;
    
  }
  
  
  header {
    background-color: white;
    color: chocolate;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  header h2 {
    color: rgb(125, 43, 226);
  }
  
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(165, 42, 56);
  }
  
  nav .btn {
    color: white;
    text-decoration: none;
    margin: 0;
    
    
    background-color: rgb(165, 42, 56);
   
    transition: background-color 0.3s ease-in-out;
    
  }
  
  nav .btn:hover {
    background-color: rgb(144, 189, 238);
  }

.container {
    display: flex;
    margin: 0;

}
footer {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  font-size: medium;
  width: auto;
}

figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-size: large;
    padding: 0 3px;
}


main {
    flex: 1; /* Fill remaining space */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Space between articles */
}

article {
    flex: 1 1 calc(33.333% - 20px); /* Three articles in a row */
    background: #051451;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
}

article img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
.font{
    color: black;
    margin: 15px;
    bottom: 0;


}

.font :hover{
    background-color: red;
    text-decoration: none;
}

@media (max-width: 700px) {
    .container{
       flex-direction: column;
       
    }
       .column {
           flex-direction: column;
         }
       nav{
   
           flex-direction: column;
       }
       aside {
           width: 100%; /* Full width on small screens */
       }
       aside {
           flex: 100%;
           max-width: 100%;
           order:2;
         }
   
       main {
           flex-direction: column; /* Stack articles vertically */
       }
   
       article {
           flex: 100%; /* Full width articles */
       }
       footer{
           text-align: center;
       }
       
   }
   