header{
    background-color: aquamarine;
    font-family: cursive;
    color: chocolate;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-image: url('pexels-lkloeppel-2416576.jpg');
    
body{
    background-color: aqua;
}
}
nav{
    display: flex;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: auto;
    font-size: large;
}

  
  