/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: larger;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: white;
  color: chocolate;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

header h2 {
  color: rgb(125, 43, 226);
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;

  padding: 10px;
  background-color: rgb(165, 42, 56);
}

nav .btn {
  color: white;
  text-decoration: none;
  margin: 0;
  
  background-color: rgb(165, 42, 56);
 
  transition: background-color 0.3s ease-in-out;
  
}

nav .btn:hover {
  background-color: rgb(144, 189, 238);
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Angkor, .location {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.location iframe, .Angkor video {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 5px;
}

.location h1, .Angkor h1 {
  margin-top: 20px;
  color: darkblue;
}

/* Footer */
footer {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  font-size: medium;
}

/* Responsive Design */
@media (max-width: 700px) {
  nav {
      flex-direction: column;
  }

  .location, .Angkor {
      padding: 10px;
  }

  iframe, video {
      width: 100%;
      height: auto;
  }

  nav .btn {
      width: 100%;
      text-align: center;
      margin: 5px 0;
  }
}
