header{
    background-color: white;
    font-family: cursive;
    color: chocolate;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}
    
body{
   
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: larger;
    
}




.btn{
    background-color: rgb(165, 42, 56);
    color: white;
    display: block;
    padding: 0 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    border: thin solid white;
    box-shadow: 100%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    background-color: rgb(144, 189, 238);
}

nav{
    display: flex;
    color: white;
}
