/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: larger;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: white;
    color: chocolate;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  header h2 {
    color: rgb(125, 43, 226);
  }
  
  /* Navigation Bar */
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(165, 42, 56);
  }
  
  nav .btn {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(165, 42, 56);
    border: 1px solid white;
    transition: background-color 0.3s ease-in-out;
  }
  
  nav .btn:hover {
    background-color: rgb(144, 189, 238);
  }
  
  /* Main Content */
/* Main Styles */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

aside {
    flex: 1 1 100%;
    margin: 20px 0;
    text-align: center;
}

iframe {
    max-width: 100%;
    height: auto;
}
aside h1{
  color: darkblue;
}
article {
  flex: 1 1 calc(33.333% - 20px); /* Three articles in a row */
  background: white;
  padding: 0;
  color: white;
  text-align: center;
}

article img {
  max-width: 100%;
  height: auto;
}
/* Footer Styles */
footer {
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    font-size: medium;
}

/* Responsive Styles */
@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}
