header{
    background-color: white;
    font-family: cursive;
    color: chocolate;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}
    
body{
    font-family: 'Times New Roman', Times, serif;
    color:red;
    font-size: larger;
    
}


.btn{
    background-color: rgb(165, 42, 56);
    color: white;
    display: block;
    padding: 0 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    border: thin solid white;
    box-shadow: 100%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    background-color: rgb(144, 189, 238);
}

nav{
    display: flex;
    color: white;
}
.container{
    margin: 50px;
}
.border{
    margin: 50px;
    width: 100%;
    border: thick solid yellow;
    border-spacing: 0;
    caption-side: bottom;
}


.boarder td, .boarder.th{
    border: thin solid black;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background: lightpink;
}
.boarder thead{
    background-color: brown;
}
.boarder tfoot{
    color: black;
}

.container{
    display: flex;
    gap: 20px;
    

}
.main{
    width: 80%;
}
.aside {
width: 100%;

}