header h1{
    color: red;
    
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer, nav {
    display: none; /* Hide header, footer, and nav in print */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Container Styles */
.container {
    display: flex;
    margin: 20px;
}

/* Sidebar Styles */
.sidebar {
    flex: 0 0 25%; /* 25% width */
    padding: 20px;
    background-color: #f0f0f0;
}

.sidebar figure {
    text-align: center;
}

/* Main Styles */
main {
    flex: 1; /* Fill remaining space */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between articles */
}

article {
    flex: 1 1 calc(33.333% - 20px); /* Three articles in a row */
    background: #eaeaea;
    padding: 15px;
    border-radius: 8px;
}

article img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

