header h1{
    color: blueviolet;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
}
 h2{
color: lightcoral;
}
p{
font-family: Arial, Helvetica, sans-serif;
color:black;
}

/* Header Styles */
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Container Styles */
.container {
    display: flex;
    margin: 20px;

}

/* Sidebar Styles */
aside {
    width: 25%; /* 25% width */
    padding: 20px;
    background-color: white;
}

aside figure {
    text-align: left;
    width: 100%;
}
figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-size: large;
    padding: 10px;
}

/* Main Styles */
main {
    flex: 1; /* Fill remaining space */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between articles */
}

article {
    flex: 1 1 calc(33.333% - 20px); /* Three articles in a row */
    background: #eaeaea;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

article img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 700px) {
 .container{
    flex-direction: column;
    
 }
    .column {
        flex-direction: column;
      }
    nav ul{

        flex-direction: column;
    }
    aside {
        width: 100%; /* Full width on small screens */
    }
    aside {
        flex: 100%;
        max-width: 100%;
        order:2;
      }

    main {
        flex-direction: column; /* Stack articles vertically */
    }

    article {
        flex: 100%; /* Full width articles */
    }
    footer{
        text-align: left;
    }
    
}

@media print {
    header, footer, nav {
        display: none; /* Hide header, footer, and nav in print */
    }
    .container{
        flex-direction: flex;
    }

    .aside {
        display: none; /* Optionally hide sidebar for print */
        flex-direction: column; /* Stack sidebar and main content */
    }

    main {
        display: block; /* Ensure main content displays block for print */
    }

    article {
        margin: 0; /* Remove margins for articles in print */
        padding: 10px; /* Adjust padding for print */
    }
}