
.current {
    color: white;
    font-size: larger;
    forced-color-adjust: lightgreen;
    font-family: cursive;
}
.welcome {
    
    font-family: 'Brush Script MT', cursive;
    color: green;
}


body {
    background-image: url("Light-Blue.jpg");
    background-repeat: repeat-x;
}
   

#flag {
    background-image: url("cambodia\ flag.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top right;
    color:lightcoral

    
}

p {
    color: black;
    font-size: 20px;
}
.center {
    background-position: right;
    background-size: 50px;
}
