
.current {
    color: white);
    font-size: larger;
    forced-color-adjust: lightgreen;
}
.welcome {
    
    font-family: 'Brush Script MT', cursive;
}


body {
    background-image: url("colorful.avif");
    background-repeat: repeat-x;
    color: #222200;
}
   

#flag {
    background-image: url("cambodia\ flag.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top right;
    color:lightcoral
    
}

p {
    color: black;
    font-size: 20px;
}
